doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="{{ static_url('css/style.css') }}")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="{{ static_url('js/vue_app.js') }}")
    script(src="{{ static_url('js/ws_test.js') }}")
    title websocket test
  body
    h1.sitettl WebSocket test
    main.main
      div#app
        input#text_box(type="text")
        button#btn(onclick="send_message();") PUSH
        span(v-if="tokenizing") 形態素解析中
        ul
          result-item(v-for="rslt in results", v-bind:rslt="rslt")
